body {
    font-family: "Manufacturing Consent", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 16px
}

#block1 {
    background-color:lightblue;
    border: 2px solid #000000;
    padding: 10px;
    margin: 10px;
}

#block2 {
    background-color: lightgreen;
    border: 2px solid #000000;
    padding: 10px;
    margin: 10px;
}

#block3 {
    background-color: lightcoral;
    border: 2px solid #000000;
    padding: 10px;
    margin: 10px;
}

div {
    height: 350px;
    width: 300px;
    float: left;
    overflow: scroll;
}